{% extends 'base.html' %}

{% block title %}{{ path }} - {{ repo_name }}{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <a href="{{ url_for('viewRepo', repo_name=repo_name) }}">{{ repo_name }}</a>
        / 
        <span>{{ ref }}</span>
        {% for part in path_parts %}
            / <a href="{{ url_for('viewTree', repo_name=repo_name, ref_path=ref + '/' + part.full_path) }}">{{ part.name }}</a>
        {% endfor %}
    </div>

    <div class="file-content">
        <pre><code>{{ content }}</code></pre>
    </div>
{% endblock %}